extends ./layout.jade

block header
    #header
        .row
            p#logo.col-xs-6.hidden-xs Startup UW | 
                a(href='/') Launch
            #login-bar.col-xs-12.col-sm-6
                a(href="/admin/logout")
                    span#admin-logout ADMIN LOGOUT

block content

    each error in errors
        .alert.alert-danger(role="alert")= error
 
    #admin-console.container
        h1 Administrator Console

        #admin-projects

            if projects.length == 0
                h3 No unapproved projects!

            .row
                each project in projects
                    .admin-project.col-md-4
                        h3= project.name
                        p Description: #{project.description}
                        p Type: #{project.type}
                        p Website: #{project.website}
                        p Hiring: #{project.hiring ? "Yes" : "No"}
                        p Date: #{project.date}

                        if project.images.length
                            span Images: 
                            each image in project.images
                                p= image
                            br

                        if project.tags.length
                            span Tags: 
                            each tag in project.tags
                                span #{tag} 
                            br

                        if project.members.length
                            span Members: 
                            each member in project.contact
                                span #{member}
                            br

                        form(action="/admin/console" method="post")
                            button.btn.btn-primary(type="submit") Approve
                            input(type="hidden" name="id" value="#{project._id}")

