doctype html
html(lang="en")
    head
        block title
            title Launch by StartupUW
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no") 
        script(src="https://fb.me/react-with-addons-0.13.3.js")
        script(src="https://fb.me/JSXTransformer-0.13.3.js")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="shortcut icon" href="http://startupuw.com/wp-content/uploads/2015/03/fbphoto.png")
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(href="/stylesheets/index.css" type="text/css" rel="stylesheet" media="screen,projection")

    body

        block header
            #header
                .row
                    p#logo.col-md-6.hidden-xs.hidden-sm Startup UW | 
                        a(href='/') Launch
                    p#logo.col-xs-6.visible-xs.visible-sm SUW | 
                        a(href='/') Launch
                    #login-bar.col-xs-6
                        if user
                            .btn-group
                                button.button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-expanded="false")
                                    if user.picture
                                        img.img-circle.profile-picture.small(src="#{user.picture}")

                                    span.hidden-xs Hello, #{user.fname}!
                                    span.caret
                                ul.dropdown-menu(role="menu")
                                    li.visible-xs
                                        a(href="/project") Add Project
                                    li
                                        a(href="/profile/#{user._id}") My Profile
                                    li
                                        a(href="/logout") Log Out

                            a#add-project(href="/project")
                                button.btn.btn-primary.hidden-xs Add Your Project
                        else
                            button.btn#fb-login(onclick="fbLogin();")
                                .fa.lg.fa-facebook 
                                span Continue with Facebook

        block content
            script(src='/js/fb.js' type="text/jsx")
            #fb-root

            if errs
                each err in errs
                    .alert.alert-danger.alert-dismissable(role="alert")
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                            span &times;
                        | #{err}

            #create-profile.modal.fade
                .modal-dialog
                    .modal-content
                        form(action="/profile/create" method="post")
                            .modal-header
                                h2.modal-title Finish Your Profile
                            .modal-body
                                label Name
                                p#name
                                .input-group
                                    label Email Address
                                    input#email.form-control(type="email" name="email" required)
                                .input-group
                                    label Bio
                                    textarea.form-control(type="text" name="bio")
                                .input-group
                                    label Major
                                    input.form-control(type="text" name="major" required)
                                .input-group
                                    label Graduation Year
                                    input.form-control(type="number" name="gradyr" value="2014" required)
                            .modal-footer
                                .btn.btn-default(data-dismiss="modal") Close
                                button.btn.btn-primary(type="submit") Finish Profile



        block footer
            #footer
                .container
                    .row
                        .col-md-4
                            h4 About
                            p Launch connects students with the opportunities, resources and most importantly the people they need to fully pursue their entrepreneurial dreams.
                        .col-md-4
                            h4 Press
                            p For additional inquiries, please reach us at 
                                a(href="mailto:press@startupuw.com") press@startupuw.com
                        .col-md-4
                            h4 Contact
                            p You can reach the Startup UW team by contacting: 
                                a(href="mailto:team@startupuw.com") team@startupuw.com
            #about
                .container
                    .row
                        .col-md-3
                            p#footer-brand STARTUP UW | LAUNCH BETA
                        .col-md-9#footer-links-container
                            ul#footer-links
                                li 
                                    a(href="http://startupuw.com") HOME
                                li 
                                    a(href="http://startupuw.com/get-involved/") GET INVOLVED
                                li 
                                    a(href="http://startupuw.com/meet-the-team/") MEET THE TEAM
                                li 
                                    a(href="http://startupuw.com/what-were-about/") WHAT WE'RE ABOUT
                                li 
                                    a(href="http://startupuw.com/events/") EVENTS
                                li 
                                    a(href="http://startupuw.com/contact/") CONTACT

        block scripts
            script(src="https://code.jquery.com/jquery-2.1.1.min.js")   
            script(src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.7.2/immutable.js") 
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
