extends ./layout.jade

block append content
    #profile-container.container
        if profile
            .row
                .col-md-3
                    #profile-img.img-responsive
                        img(src="/img/default-profile.png")
                    h1 #{profile.fname} #{profile.lname}
                    p
                        span.glyphicon.glyphicon-envelope
                        | #{profile.email}
                    p
                        span.glyphicon.glyphicon-pencil
                        | #{profile.bio}
                    p
                        span.glyphicon.glyphicon-book
                        | #{profile.major} - Class of #{profile.gradyr}

                .col-md-9
                    h2#profile-projects Projects
                    if !projects
                        .panel
                            .panel-body This user has no public projects yet.
                    h2#profile-voted Upvoted
                    if !votes
                        .panel 
                            .panel-body This user has not voted on any projects yet.
                    else
                        .row
                            each vote in votes
                                a(href="/project/#{vote.project._id}")
                                    .col-md-4
                                        .vote-card
                                            p.name #{vote.project.name}
                                                span.date #{(new Date(vote.date)).toLocaleDateString()}
        else
            h1 No such user exists!
