extends ./layout.jade

block append content
    #profile-container.container
        if profile
            .row
                .col-md-3
                    .thumbnail
                        img(src=profile.picture ? profile.picture : "/img/default-profile.png")
                        .caption
                            h1 #{profile.fname} #{profile.lname} 
                                if user && profile._id == user._id
                                    i.fa.fa-pencil
                            p
                                i.fa.fa-envelope
                                | #{profile.email}
                                
                            p
                                i.fa.fa-quote-left
                                | #{profile.bio}

                            p
                                i.fa.fa-graduation-cap
                                | #{profile.major} &bull; Class of #{profile.gradyr} &nbsp;

                #profile-feed.col-md-9
                    h2#profile-projects Projects
                    if !projects
                        .panel
                            .panel-body This user has no public projects yet.
                    else
                        each project in projects
                            .panel
                                .panel-body
                                    .col-md-3
                                        img(src="/uploads/#{project.images[0]}")

                    h2#profile-voted Upvoted
                    if !votes
                        .panel 
                            .panel-body This user has not voted on any projects yet.
                    else
                        .row
                            each vote in votes
                                .col-md-1.col-xs-1.projectlogo
                                    a(href="/project/#{vote.project._id}")
                                        img(src="/uploads/#{vote.project.images[0]}")
        else
            h1 No such user exists!