extends ./layout.jade

block append content
    #profile-container.container
        if profile
            #profile-overview
                img.img-circle(src=profile.picture ? profile.picture : "/img/default-profile.png")
                .caption
                    h1 #{profile.fname} #{profile.lname} 
                    p.bio= profile.bio

                    ul
                        li
                            span.title MAJOR
                            p= profile.major
                        li 
                            span.title GRADUDATING
                            p= profile.gradyr
                        li
                            span.title ELSEWHERE
                            p.social-media
                                a(href="mailto:#{profile.email}")
                                    i.fa.fa-envelope
                                a(target="_blank" href="https://facebook.com/#{profile._id}")
                                    i.fa.fa-facebook

            #profile-feed
                h2 PROJECTS

                #profile-projects
                    if projects.length == 0
                        .panel
                            .panel-body This user has no public projects yet.
                    else
                        .row
                            each project in projects
                                .col-xs-12
                                    .media
                                        .media-body
                                            a(href="/project/#{project._id}")
                                                h3.media-heading= project.name
                                            if project.tags.length
                                                p Tags: #{project.tags}
                                        .media-right.media-middle.hidden-xs
                                            a(href="/project/#{project._id}")
                                                img.media-object(width="80px" src="/uploads/#{project.images[0]}")
                                    hr

                h2 UPVOTED
                #profile-voted
                    if votes.length == 0
                        .panel 
                            .panel-body This user has not voted on any projects yet.
                    else
                        .row
                            each vote in votes
                                a(href="/project/#{vote.project._id}")
                                    img(src="/uploads/#{vote.project.images[0]}" data-toggle="tooltip" data-placement="bottom" title="#{vote.project.name}" height="50px")
        else
            h1 No such user exists!

block append scripts
    script.
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });