extends ./layout.jade

block append content
    #profile-container.container
        if profile
            .row
                .col-md-3

                    .thumbnail
                        img(src=profile.picture ? profile.picture : "/img/default-profile.png")
                        .caption
                            h1 #{profile.fname} #{profile.lname}
                            p
                                i.fa.fa-envelope
                                | #{profile.email}
                            p
                                i.fa.fa-quote-left
                                | #{profile.bio}
                            p
                                i.fa.fa-graduation-cap
                                | #{profile.major} &bull; Class of #{profile.gradyr}

                #profile-feed.col-md-9
                    h2#profile-projects Projects
                    if !projects
                        .panel
                            .panel-body This user has no public projects yet.
                    else
                        each project in projects
                            h1 #{project._id}
                    h2#profile-voted Upvoted
                    if !votes
                        .panel 
                            .panel-body This user has not voted on any projects yet.
                    else
                        .row
                            each vote in votes
                                a(href="/project/#{vote.project._id}")
                                    .vote-card
                                        p.name #{vote.project.name}
                                            span.date #{(new Date(vote.date)).toLocaleDateString()}
                                        p.description #{vote.project.description}
        else
            h1 No such user exists!
