extends ./layout.jade

block append content
    #profile-container.container
        if profile
            .row
                .col-md-3
                    #profile-img.img-responsive
                        img(src="/img/default-profile.png")

                    #profile-info
                        h1 #{profile.fname} #{profile.lname}
                        p
                            i.fa.fa-envelope
                            | #{profile.email}
                        p
                            i.fa.fa-quote-left
                            | #{profile.bio}
                        p
                            i.fa.fa-graduation-cap
                            | #{profile.major} &bull; Class of #{profile.gradyr}

                #profile-feed.col-md-9
                    h2#profile-projects Projects
                    if !projects
                        .panel
                            .panel-body This user has no public projects yet.
                    h2#profile-voted Upvoted
                    if !votes
                        .panel 
                            .panel-body This user has not voted on any projects yet.
                    else
                        .row
                            each vote in votes
                                a(href="/project/#{vote.project._id}")
                                    .vote-card
                                        p.name #{vote.project.name}
                                            span.date #{(new Date(vote.date)).toLocaleDateString()}
                                        p.description #{vote.project.description}
        else
            h1 No such user exists!
